@media screen and (max-width: 1024px) {
  .one-p {
    width: 90%;
  }
  #get-started {
    width: 80%;
  }
  .footer-small-wrapper {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 250px 250px 150px;
        grid-template-columns: 250px 250px 150px;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 900px) {
  .client {
    width: 350px;
    background-color: deeppink;
    padding: 20px 0px 20px 30px;
    margin: 0% 2% 1%;
  }
  #testimonials {
    margin-top: 70px;
    background-color: red;
    width: 95%;
    margin-left: 3%;
  }
}

@media screen and (max-width: 800px) {
  .navlist {
    width: 60%;
  }
  .footer-small-wrapper {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
    width: 100%;
  }
  .intro {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .intro-p > h4 {
    font-size: 25px;
  }
  .three-p > p {
    font-size: 16px;
  }
  .one-p {
    width: 100%;
    padding: 10px 20px 0px;
  }
  .section-one, .section-two {
    width: 90%;
  }
  .productive {
    width: 400px;
    height: 300px;
  }
  .four-container {
    width: 100%;
    margin-left: 0%;
  }
  .client {
    width: 300px;
  }
  #testimonials {
    margin-left: 0%;
    width: 100%;
    padding-left: 20px;
  }
  .four-img {
    background-color: #d3b21e;
    padding-left: 15px;
  }
}

@media screen and (max-width: 700px) {
  .one-p {
    padding: 10px 20px 0px;
  }
  .four-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .four-text {
    width: 80%;
    padding-top: 40px;
  }
  .client {
    width: 500px;
  }
  #testimonials {
    margin-left: 0%;
    width: 90%;
    padding-left: 0px;
    margin: 70px auto 0px;
  }
  #get-started {
    width: 90%;
  }
  #email {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .footer-small-wrapper {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
    width: 100%;
  }
  .footer-small-wrapper {
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 30px;
    grid-gap: 15px;
  }
  .contact {
    margin-left: 0px;
  }
  .navlist {
    width: 90%;
  }
  .client {
    width: 400px;
  }
  .four-text {
    width: 90%;
    padding-top: 40px;
  }
  .intro {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .intro-p > h4 {
    font-size: 20px;
  }
  .section-one, .section-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-one > div, .section-two > div {
    margin-bottom: 40px;
  }
  .section-two {
    margin: 0px auto 0px;
  }
}

@media screen and (max-width: 500px) {
  .three-p {
    width: 90%;
  }
  .client {
    width: 350px;
  }
  .four-text {
    width: 100%;
  }
  .logo-svg2 {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  #get-started {
    width: 100%;
  }
  #get-started form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #get-started > p {
    width: 90%;
  }
  #email {
    width: 300px;
    margin-bottom: 10px;
  }
  #submit {
    width: 300px;
    font-weight: 700;
    height: 40px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 400px) {
  .navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    font-size: 13px;
  }
  .navbar, .logo {
    width: 50%;
  }
  .client {
    width: 300px;
  }
  .intro {
    width: 300px;
    height: 200px;
  }
  .logo-svg2 {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .logo-svg {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}
/*# sourceMappingURL=queries.css.map */